.product-heading {
  text-align: center;
  background-color: #003366; /* Deep blue */
  color: #ffffff;
  padding: 2.5rem 1.25rem;
  margin-bottom: 1.875rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.product-heading h1 {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
  color: #ffffff;
}

.product-heading p {
  font-size: 1.2rem;
  color: #cccccc; /* Light gray */
  line-height: 1.6;
  max-width: 37.5rem;
  margin: 0 auto;
}

/* Filters Section */
.product-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem;
  background-color: #003366;
  color: #fff;
  z-index: 6;
  border-radius: 0.5rem;
  margin-bottom: 1.875rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.filter-item {
  flex: 1 1 12.5rem;
  display: flex;
  flex-direction: column;
}

.filter-item label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.filter-input,
.filter-select,
.filter-slider {
  padding: 0.625rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  outline: none;
}

.filter-input {
  background-color: #ffffff; /* White */
  color: #333333; /* Dark gray */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.filter-select {
  background-color: #ffffff; /* White */
  color: #333333; /* Dark gray */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.filter-slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  height: 0.25rem;
  border-radius: 0.125rem;
  cursor: pointer;
}

.filter-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #003366; /* Deep blue */
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid #ffffff; /* White */
}

.filter-slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #003366; /* Deep blue */
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid #ffffff; /* White */
}

.filterMainSmallScreen {
  display: none;
}

/* ProductPage.css */
.product-page {
  background-color: #f7f7f7; /* Light gray */
  padding: 1.25rem;
  font-family: Arial, sans-serif;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 0;
  max-width: 75rem;
  margin: 2rem 0;
}

.product-card {
  background-color: #ffffff; /* White */
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: none;
  padding: 0.9375rem;
  min-width: 15rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.242);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.product-image img {
  height: 15rem;
  border-radius: 0.5rem;
}

.product-img-List img {
  width: 15rem;
  max-height: 20rem;
  flex: 1;
  margin-right: 1rem;
}

.product-details-Grid {
  margin-top: 0.625rem;
}

.product-details-Flex {
  display: flex;
  width: auto;
  padding: 1rem;
  margin-top: 1rem;
  background: #ffffff; /* White */
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.242);
  border-radius: 1rem;
}

.product-Content-Flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20rem;
}

.product-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333333; /* Dark gray */
}

.product-category {
  font-size: 1rem;
  color: #555555; /* Medium gray */
  margin: 0.625rem 0;
}

.product-description {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #777777; /* Lighter gray */
  margin: 0.625rem 0;
}

.product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.625rem 0;
}

.rating-stars {
  font-size: 1.2rem;
  color: gold;
}

.star {
  color: rgba(0, 0, 0, 0.753);
}

.star-filled {
  color: gold;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.25rem 0;
  text-align: center;
}

.product-actions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 0.625rem;
}

.product-actions button {
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: background-color 0.3s;
}

.add-to-cart {
  background: #28a745; /* Green */
}

.remove-from-cart {
  background: #d9534f; /* Red */
  padding: 0.3125rem 0.9375rem;
}

.view {
  background: #17a2b8; /* Blue */
}

.product-actions button a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .product-heading {
    padding: 1rem;
  }
  .product-heading h1 {
    font-size: 1.5rem;
    justify-content: start;
  }
  .product-heading p {
    font-size: 1rem;
  }
  .product-filters {
    flex-direction: column;
    /* gap: 3rem; */
    position: relative;
    top: 1rem;
  }
  #search{
    flex: 3;
    height: 100%;
    padding: 1.5rem 0.5rem;
  }
  .filter-btns{
    flex: 0.5;
    display: flex;
  }
  .filter-item {
    margin: 0.5rem 0;
  }
  .hideFilter {
    display: none;
  }
  .showFilter {
    display: block;
  }
  .filterMainSmallScreen {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }
  .filterMainSmallScreen button {
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    background: #003366; /* Deep blue */
    color: #fff;
    border: none;
    border-radius: 0.5rem;
  }
  .filter-smallScreen {
    flex-grow: 0;
  }
  .displayGrid {
    margin: 0.5rem;
  }
  .displayGrid:disabled{
    background-color: #a4a4a4;
    color: #ffffffcc;
  }
  .displayList {
    margin: 0.5rem;
  }
  .displayList:disabled{
    background-color: #a4a4a4;
    color: #ffffffcc;
  }

  .filter-item {
    flex: 1 1 100%;
  }
  .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .product-card {
    min-width: auto;
    padding: 0.25rem;
    margin: 0;
  }
}

@media (max-width: 770px) {

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .product-card {
    min-width: auto;
    padding: 0.25rem;
    margin: 0;
  }
  .product-img-List img {
    width: 10rem;
  }
}
