.landing-page {
  font-family: Arial, sans-serif;
  color: white;
}

.hero-section {
  /* background: url("https://images.unsplash.com/photo-1544441893-675973e31985?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat; */
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  /* position: relative; */
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  height: 100vh;
  display: flex;
  overflow: scroll;
  scroll-snap-type: both mandatory;
}
.hero-content .img{
 scroll-snap-align: start;
 flex: 0 0 100%;
 background-repeat: none;
 background-position: center;
 background-size: cover;
 padding: 0;
 margin: 0;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}
.hero-content::after{
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.669);
  position: absolute;
  z-index: 6;
}
.img1{
  background-image: url(/landing\ image.jpg);
}
.img2{
  background-image: url(/Landing\ Electronics.jpg);
}
.img3{
  background-image: url(/Landing\ Jewelry.jpg);
}
.hero-content .img .content{
  position: relative;
  z-index: 9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem;
  backdrop-filter: blur(5px);
  animation: landing-content 7s infinite;
  -webkit-animation: landing-content 7s infinite;
}
@keyframes landing-content {
  0%{
    top: 6rem;
  }
  100%,0% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  20%{
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  30%{
    display: flex;
    visibility: visible;
    opacity: 0.75;
  }
  40% {
    display: flex;
    visibility: visible;
    opacity: 1;
    top: 0rem;
  }
  80% {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}
.content h1 {
  font-size: 3rem;
  margin-bottom: 0.9375rem;
  z-index: 1;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
  z-index: 1;
}

.content button {
  padding: 0.625rem 1.25rem;
  background-color: #2563eb;
  border: none;
  color: white;
  font-size: 1rem;
  z-index: 1;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.content button:hover {
  background-color: #3b82f6;
}
.content button a{
  text-decoration: none;
  color: #fff;
}
.featured-section {
  background-color: #0a1128;
  padding: 3.125rem 1.25rem;
  text-align: center;
}

.featured-section h2 {
  font-size: 2rem;
  margin-bottom: 1.875rem;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.category {
  text-align: center;
  flex: 1 1 auto;
}

.category img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 0.625rem;
  object-fit: cover;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

.category p {
  margin-top: 0.625rem;
  font-size: 1.1rem;
}

.hero-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #000a22, #000000);
  color: #f1f5f9;
  padding: 3.125rem;
  min-height: 100vh;
  text-align: center;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
}

.secondary-image {
  flex: 1;
}

.secondary-image img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.secondary-content {
  flex: 1;
}

.secondary-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.9375rem;
  text-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.4);
}

.secondary-content p {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
  color: #cbd5e1;
}

.secondary-content button {
  background-color: #2563eb;
  color: white;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.hero-btn:hover {
  background-color: #3b82f6;
  transform: translateY(-0.1875rem);
  -webkit-transform: translateY(-0.1875rem);
  -moz-transform: translateY(-0.1875rem);
  -ms-transform: translateY(-0.1875rem);
  -o-transform: translateY(-0.1875rem);
}

.review-container {
  background-color: #0a1128;
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.review-container h1 {
  padding: 2rem 0;
  font-size: 2rem;
  color: #f1f5f9;
  display: flex;
  justify-content: left;
  font-family: "Arial", sans-serif;
}

@media (width <= 1000px) {
  .hero-secondary {
    flex-direction: column-reverse;
    height: auto;
  }
  .secondary-content button {
    width: 100%;
  }
  .content button {
    width: 100%;
  }

}
